*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000000;
    color: #fff;
}
body h1 {
    font-size: 60px;
    color: #ffffff;
}
body p {
    color: #ababab;
}
#name{
    font-family: 'Times New Roman', Times, serif;
}
#name span{
    font-family: 'Times New Roman', Times, serif;
}
h1{ 
    color: #fff; 
}
h1 span{
    color: #6200ff;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h2{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h2 span{
    color: #6200ff;
}
.header-nav {
    padding: 10px 10%;
}
.smalltitle {
    font-size: 35px;
    color: #ffffff;
    font-weight: 550;
    position: relative;
}
.smalltitle:after {
    content: '';
    width: 50%;
    height: 3px;
    background: #6200ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.section-title-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main {

}
/*nav styling*/
nav .fas{
    display: none;
}
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6200ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/**/
.about-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 100%;
}
.about-company img {
    width: 100px;
}
.about-company h1 {
    color: #ababab;
}
.about-company p {
    font-style: italic;
    font-weight: lighter;
}
.about-company-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60vw;
}

/**/
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.container{
    padding: 10px 10%;
    height: 100%;
}
.sub-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/*TabLinksStyling*/
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.link::after{
    content:'';
    width: 0;
    height: 3px;
    background: #6200ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.link.active-link::after{
    width: 50%;
}
.content ul li{
    list-style: none;
    margin: 10px 0;
}
.content ul li span{
    color: #7243bd;
    font-size: 14px;
}
.content{
    display:none;
}
.content.active-tab{
    display: block;
}

/*IMG WRAPPER*/
.img-wrapper {
    flex: 1;
    max-height: 300px;
}

/*TEAM PROCESS*/
#teamprocess {
    display: flex;
    gap: 60px;
}
#teamprocess section{

}
.section-left {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section-left img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-left div:first-child {
    display: flex;
    gap: 20px;
}
.section-right {
    flex: 2;
}

/*3DASSETS*/
#assets {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-bottom-assets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    width: 100%;
    max-height: 100%;
}
.img-wrapper-asset img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.25s ease;
}
.img-wrapper-asset img:hover {
    transform: scale(1.5);
}
/*DEVELOPING INFO*/
#developinginfo {
    display: flex;
    gap: 60px;
}
.section-left-developing {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.section-left-developing h1 {
    font-size: 50px;
}
.section-right-developing {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 2;
}
.section-right-developing div p {
    margin-bottom: 30px;
}
.section-right-developing video {
    width: 95%;
    border-radius: 10px;
}
.section-right-developing img {
    width: 95%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/*media queuery*/
@media only screen and (max-width: 900px){

    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #6200ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    body h1 {
        font-size: 30px;
        color: #ffffff;
    }
    body p {
        color: #ababab;
    }
    .smalltitle {
        font-size: 20px;
        color: #ffffff;
        font-weight: 550;
        position: relative;
    }

    #teamprocess {
        display: flex;
        flex-direction: column-reverse;
    }

    #developinginfo {
        display: flex;
        flex-direction: column;
    }
    .sub-section {
        height: auto;
    }
}   